# CityBikes Rest API

This section asks you to fetch JSON data from the [CityBikes REST API](https://api.citybik.es/v2/) to answer some questions about bike share programs.

Please be mindful not to send requests to the server more often than necessary. In particular, make sure you separate code that requests data from the server into a separate cell so that you do not have to repeatedly request data from the server. You will lose points if your requests are not separated into their own cell.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import json
import pandas as pd
from pandas.io.json import json_normalize

In [0]:
import requests
response = requests.get("http://api.citybik.es/v2/networks")

In [0]:
data = json.loads(response.text)
df = json_normalize(data, "networks")

In [0]:
df

                            company  ... license.url
0                  [ЗАО «СитиБайк»]  ...         NaN
1                      [Gobike A/S]  ...         NaN
2                      [Gobike A/S]  ...         NaN
3    [Urban Infrastructure Partner]  ...         NaN
4                      [Gobike A/S]  ...         NaN
..                              ...  ...         ...
640                 [Nextbike GmbH]  ...         NaN
641                 [Nextbike GmbH]  ...         NaN
642                 [Nextbike GmbH]  ...         NaN
643                 [Nextbike GmbH]  ...         NaN
644             [Comunicare S.r.l.]  ...         NaN

[645 rows x 12 columns]

# Question 1

Find all cities with bike share programs in the United States (country code "US"), along with their network ID (for example, "ford-gobike"). How many cities in the U.S. have bike share programs (at least that are in this API)?

In [0]:
q1.head()

                                               company  ... license.url
75                     [PBSC, Alta Bicycle Share, Inc]  ...         NaN
132              [Clean Energy Coalition, BCycle, LLC]  ...         NaN
135                                      [BCycle, LLC]  ...         NaN
136                [Motivate International, Inc, PBSC]  ...         NaN
139  [Portland Bureau of Transportation (PBOT), Mot...  ...         NaN

[5 rows x 12 columns]

In [0]:
q1 = df[df["location.country"] == "US"]
q1["location.city"].nunique()

64

64 cities have bike share programs in the US

# Question 2

Construct a `DataFrame` containing data about all bike stations in all networks in the United States. Save this `DataFrame` to disk using `.to_csv()`. (You will need it in Part B of this lab.)

Use this `DataFrame` to determine the total number of bicycles in bike share programs across the United States? You may assume that the number of bikes at a station is the number of empty spaces, plus the number of available bikes.

In [0]:
url = "http://api.citybik.es/v2/networks/network_id"

In [0]:
response = requests.get(url)

In [0]:
import time

us = []
for city_id in q1["id"]:
    
    # get the episodes for the show from the REST API
    response = requests.get("http://api.citybik.es/v2/networks/%s" % city_id)
    us.append(response.json())
    
    # add a 0.5 second delay between each query
    time.sleep(0.5)
    
# Now we have a list of episodes in JSON format.
# We can convert this to a DataFrame of episodes using json_normalize.

In [0]:
df_2 = json_normalize([item['network'] for item in us], 'stations', meta='id', meta_prefix='network', errors="ignore")
df_2

      empty_slots  free_bikes  ... extra.slots                      networkid
0             2.0           3  ...         NaN                       we-cycle
1             8.0           0  ...         NaN                       we-cycle
2             6.0           0  ...         NaN                       we-cycle
3             7.0           0  ...         NaN                       we-cycle
4            10.0           1  ...         NaN                       we-cycle
...           ...         ...  ...         ...                            ...
5668          3.0           3  ...         6.0        jerseybike-north-bergen
5669          0.0           4  ...         4.0        jerseybike-north-bergen
5670          3.0           3  ...         6.0        jerseybike-north-bergen
5671          NaN           8  ...         NaN  jerseybike-liberty-state-park
5672          NaN          10  ...         NaN  jerseybike-liberty-state-park

[5673 rows x 16 columns]

In [0]:
us[0]

In [0]:
df_2.to_csv('drive/My Drive/dataframe.csv')

# Question 3

You have just finished touring Coit Tower in San Francisco, which is located at latitude 37.802747 and longitude -122.405861. Using your `DataFrame` from Question 2, find the nearest bike station with an available bike, based on taxicab distance (a.k.a. Manhattan distance).

_Hint:_ You can check your answer using Google Maps!

In [0]:
# from sklearn.preprocessing import StandardScaler

# scaler = StandardScaler()
# scaler.fit(df_2)
# df_2_st = scaler.transform(df_2)

lats = df_2.latitude
longs = df_2.longitude

total1 = ((lats - 37.803).abs())
total2 = ((longs - -122.405).abs())
total = total1+total2

In [0]:
total.idxmin()

4823

In [0]:
df_2.iloc[4823]

empty_slots                                          5
free_bikes                                          17
id                    28754859653e0a656ba53e1fa0ea21db
latitude                                       37.8048
longitude                                     -122.403
name                     The Embarcadero at Sansome St
timestamp                  2020-03-02T05:26:22.019000Z
extra.address                                     None
extra.last_updated                         1.58313e+09
extra.renting                                        1
extra.returning                                      1
extra.uid                                            6
extra.bike_uids                                    NaN
extra.number                                       NaN
extra.slots                                        NaN
networkid                                  ford-gobike
Name: 4823, dtype: object

## Submission Instructions

- Restart this notebook and run the cells from beginning to end. 
  - Go to Runtime > Restart and Run All.
- Rename this notebook by clicking on "DATA 301 Lab 5A - YOUR NAMES HERE" at the very top of this page. Replace "YOUR NAMES HERE" with the first and last names of you and your partner (if you worked with one).
- Share the notebook with `data301labs@gmail.com`, giving commenting rights.
  - Click on "Share" at the top-right. 
  - Type in the `data301labs@gmail.com` into the box that appears. 
  - Click on the pencil at the right-hand side and change it from "Can edit" to "Can comment". 
  - Make sure the "Notify people" box in the bottom right is checked. 
  - Click the "Done" button.